#modalButtons{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 -3px 7px -3px rgba(41, 35, 35, 0.3);
    
}

#modalButtons button{
    flex: 1;
    width: 50%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: default;
    color: rgba(0, 0, 0, 0.4);
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
}
#modalButtons button:hover{
    background-color: #d8d1d1a8;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

}
#modalButtons #cancel, #modalButtons #deleteList{
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 10px;
}
#modalButtons #createList, #modalButtons #saveList{
    border-radius: 0 0 10px 0;
}
#modalButtons #createList.enabled, #modalButtons #saveList.enabled{
    color: rgb(10, 37, 128);
    cursor: pointer;
}
