#modalButtons{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 -3px 7px -3px rgba(41, 35, 35, 0.3);
    
}

#modalButtons button{
    flex: 1;
    width: 50%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: default;
    color: rgba(0, 0, 0, 0.4);
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
}
#modalButtons button:hover{
    background-color: #d8d1d1a8;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

}
#modalButtons #cancel{
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 10px;
}
#modalButtons #createList.enabled{
    color: rgb(10, 37, 128);
    cursor: pointer;
}

/*********editable list*********/
.editIcon{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.5s;
    animation: fadeIn 0.2s ease-in 1 forwards;
}
.editIcon:hover{
    transform: scale(1.2);
}

@keyframes fadeIn{
    0%{
        opacity: 0.3;
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}