#taskInfo{
    position: absolute;
    z-index: 10;
    height: 70rem;
    width: 50rem;
    padding: 3rem;
    padding-top: 8rem;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
    animation: popup 0.4s linear 1 forwards; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#taskInfo #header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);

}

#taskInfo #header h2{
    margin: 0;
    padding: 1rem 1rem 0.5rem;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

#taskInfo p{
    margin: 0;
    padding: 0;
    margin-left: 2.3rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;

}

/********form************/
#taskInfo form{
    width: 90%;
}
#taskInfo input[type="text"], #taskInfo input[type="date"], #taskInfo select, #taskInfo textarea{
    padding: 1rem;
    margin: 1rem 2rem;
    width: 90%;
    font-size: 2rem;
    background-color: rgba(197, 219, 253, 0.4);
    /* border: 1.5px solid rgb(54, 54, 167); */
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Mulish', sans-serif;
    color: rgb(10, 37, 128);
}
#taskInfo input[type="text"]::placeholder, textarea::placeholder{
    color: rgb(10, 37, 128);

}




/********buttons**********/

#taskButtons{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 -3px 7px -3px rgba(41, 35, 35, 0.3);
    
}

#taskButtons button{
    flex: 1;
    width: 50%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.8rem;
}

#taskButtons #deleteTask{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 10px;
    cursor: pointer;
}
#taskButtons #deleteTask:hover{
    background-color: #d8d1d1a8;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

}
#taskButtons #saveTask{
    color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 0;
    cursor: default;
}

#taskButtons #saveTask.enabled{
    color: rgb(10, 37, 128);
    cursor: pointer;
   
}
#taskButtons #saveTask.enabled:hover{
    background-color: #d8d1d1a8;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

